body {
  background-color: #7b838f;
}

.board {
  margin: auto;
  text-align: center;
  width: 30rem;
  height: 30rem;
}

.board__row {
  width: 100%;
  height: 12.5%;
}

.tile {
  height: 100%;
  width: 12.5%;
  background:none;
  background-color: #33455b;
  border: 1px solid #4aa8d8;
  box-sizing: border-box;
  padding: 0;
}

.tile.highlight {
  background-color: #98afc7;
}

.tile:focus {
  outline: none;
}

.tile__disc {
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 100%;
}

.tile__disc.orange {
  background-color: #56bc8a;
}

.tile__disc.green {
  background-color: #d95e40;
}
