body {
  background-color: #7b838f;
  margin: 0;
  padding: 0;
}

.game {
  text-align: center;
  margin: auto;
}

.game {
  margin: auto;
  text-align: center;
  width: 90vw;
  height: 90vw;
}

.board {
  width: 100%;
  height: 100%;
}

.board__row {
  width: 100%;
  height: 12.5%;
}

.tile {
  height: 100%;
  width: 12.5%;
  background:none;
  background-color: #33455b;
  border: 1px solid #4aa8d8;
  box-sizing: border-box;
  padding: 0;
}

.tile.highlight {
  background-color: #98afc7;
  cursor: pointer;
}

.tile:focus {
  outline: none;
}

.tile__disc {
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 100%;
}

.tile__disc.orange {
  background-color: #d95e40;
}

.tile__disc.green {
  background-color: #56bc8a;
}

.scorecard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}

.scorecard h1 {
  margin: 0;
  color: #f2992e;
  font-family: sans-serif;
  font-size: 5vw;
}

.score, .controls {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.score__player, .controls_reset, .controls_next-turn {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score__player .tile__disc {
  width: 7vw;
  height: 7vw;
  margin: 0;
  margin-right: 1vw;
}


@media only screen and (min-width : 1000px) {
  .game {
    width: 35vw;
    height: 35vw;
  }

  .score__player .tile__disc {
    width: 3vw;
    height: 3vw;
  }

  .scorecard h1 {
    font-size: 2vw;
  }
}
